
<div type="text/template" id="template-input">
    <div class="box" style="margin-left: 100px;">
        <div style="margin: 10px 10px">
            <div class="mainLabel">Please enter coordinates of rectangle no. <%= ind %></div>

            <div class="input-group">
                <span class="input-group-addon">Xasd :</span>
                <input type="number" class="form-control" data-coord="x" id="inputX" index='<%= ind %>'>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Y :</span>
                <input type="number" class="form-control" data-coord="y" id="inputY" index='<%= ind %>'>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Width :</span>
                <input type="number" class="form-control" data-coord="width" id="inputWidth" index='<%= ind %>'>
            </div>
            <div class="input-group">
                <span class="input-group-addon">Height :</span>
                <input type="number" class="form-control" data-coord="height" id="inputHeight" index='<%= ind %>'>
            </div>
        </div>
    </div>
</div>

